<!DOCTYPE HTML>
<html>
    <head>
        <title>BaNG - 2013</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/tablesorter.css">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/bang.css">
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/jquery.uitablefilter.js" type="text/javascript"></script>
        <script src="/javascripts/jquery.tablesorter.js"></script>
        <script src="/javascripts/jquery.tablesorter.widgets.js"></script>
        <script>
            function updateFilter() {
                $.uiTableFilter( $('.tablefilter'), $("#filter").val() );
                var countVisible = $('.tablefilter > tbody > tr:visible').length;
                $('#countVisible').html(countVisible);
                var countAll = $('.tablefilter > tbody > tr').length;
                $('#countAll').html(countAll);
            }

            function initializeTablesorter() {
                $('.config').tablesorter({
                    sortList: [[0,0]],
                    widgets: [ 'zebra' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                    }
                });
                $('.config_default').tablesorter({
                    sortList: [[0,0]],
                    widgets: [ 'zebra' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                    }
                });
                $('.configslist').tablesorter({
                    sortList: [[0,0]],
                    widgets: [ 'zebra', 'stickyHeaders' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                        stickyHeaders : 'tablesorter-stickyHeader',
                    }
                });
                $('.restorelist').tablesorter({
                    sortList: [[0,0],[1,0]],
                    widgets: [ 'zebra', 'stickyHeaders' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                        stickyHeaders : 'tablesorter-stickyHeader',
                    }
                });
                $('.reporting').tablesorter({
                    widgets: [ 'zebra', 'stickyHeaders' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                        stickyHeaders : 'tablesorter-stickyHeader',
                    }
                });
            }

            function collapseDetails() {
                $("div.collapse").hide();
                $("div.collapse").parent().click(function(){
                    $(this).find("div.collapse").toggle();
                    $(this).find(".arrow").toggleClass("up");
                });
            }

            function initializeEvents() {
                $("#filter").keyup(function() {
                    updateFilter();
                })

                $('#filter-form').submit(function(){
                    return false;
                });

                $('[data-href]').click(function(){
                    window.location = $(this).data('href');
                });
            }

            function initializeAll() {
                updateFilter();
                initializeEvents();
                initializeTablesorter();
                collapseDetails();
            }

            $(document).ready(function(){
                initializeAll();
            });

        </script>
    </head>
    <body>
        <% INCLUDE header.tt %>
        <% IF session.logged_in_user %><% INCLUDE navbar.tt %><% END %>
        <div id="content">
            <% content %>
            <div style="clear: both;"></div>
        </div>
    </body>
</html>

