<!DOCTYPE HTML>
<html>
    <head>
        <title>BaNG</title>
        <meta charset="utf-8">
        <% IF section == 'dashboard' %><meta http-equiv="refresh" content="300"><% END %>
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/tablesorter.css">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/bang.css">
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/lastupdate.js"></script>
        <script src="/javascripts/jquery.uitablefilter.js" type="text/javascript"></script>
        <script src="/javascripts/jquery.tablesorter.min.js"></script>
        <script src="/javascripts/jquery.tablesorter.parser-metric.js"></script>
        <script src="/javascripts/jquery.tablesorter.widgets.min.js"></script>
        <script>
            function updateFilter() {
                $.uiTableFilter( $('.tablefilter'), $("#filter").val() );
                var countVisible        = $('.tablefilter > tbody > tr:visible').length;
                var countAll            = $('.tablefilter > tbody > tr').length;
                $('#countVisible').html(countVisible);
                $('#countAll').html(countAll);
                if ( $('h2').is($(':contains(Host)')) || $('h2').is($(':contains(Group)'))  ){
                    var countDisabledConfig = $('.tablefilter > tbody > tr:not(.active)').length;
                    var countInvalidConfig  = $('.configshosts > tbody > tr:has(.invalidConfig)').length;
                    var countSameConfig     = $('.configshosts > tbody > tr:has(.sameConfigWarning)').length;
                    $('#countDisabledConfig').html(countDisabledConfig);
                    $('#countInvalidConfig').html(countInvalidConfig);
                    $('#countSameConfig').html(countSameConfig);
                    $('span.ToggleConfig').show();
                } else{
                    $('span.ToggleConfig').hide();
                };
            }

            function initializeTablesorter() {
                $('.config').tablesorter({
                    sortList: [[0,0]],
                    widgets: [ 'zebra' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                    }
                });
                $('.config_default').tablesorter({
                    sortList: [[0,0]],
                    widgets: [ 'zebra' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                    }
                });
                $('.configshosts').tablesorter({
                    sortList: [[4,0],[0,0]],
                    widgets: [ 'zebra', 'stickyHeaders' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                        stickyHeaders : 'tablesorter-stickyHeader',
                    }
                });
                $('.configslist').tablesorter({
                    sortList: [[0,0]],
                    widgets: [ 'zebra', 'stickyHeaders' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                        stickyHeaders : 'tablesorter-stickyHeader',
                    }
                });
                $('.restorelist').tablesorter({
                    sortList: [[0,0],[1,0]],
                    widgets: [ 'zebra', 'stickyHeaders' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                        stickyHeaders : 'tablesorter-stickyHeader',
                    }
                });
                $('.reporting').tablesorter({
                    widgets: [ 'zebra', 'stickyHeaders' ],
                    widgetOptions: {
                        zebra : ['even','odd'],
                        stickyHeaders : 'tablesorter-stickyHeader',
                    }
                });
            }

            function collapseDetails() {
                $("div.collapse").hide();
                $("div.collapse").parent().click(function(){
                    $(this).find("div.collapse").toggle();
                    $(this).find(".arrow").toggleClass("up");
                });
            }

            function initializeEvents() {
                $("#filter").keyup(function() {
                    updateFilter();
                })

                $('#filter-form').submit(function(){
                    return false;
                });

                $('[data-href]').click(function(){
                    window.location = $(this).data('href');
                });

                $('[data-startbackup]').click(function() {
                    var ConfigFile = $(this).data('startbackup');
                    if ( confirm('Do you really want start backup of ' + ConfigFile) ) {
                        $.post('/config/trigger/' + ConfigFile, {
                        });
                        window.location = "/";
                    };
                });

                $('[data-deleteconfigfile]').click(function() {
                    var deleteFile = $(this).data('deleteconfigfile');
                    var configType = $(this).data('configtype');
                    var elementCount = $(this).parents('tbody').children().length;
                    var that = $(this);
                    if ( confirm('Do you really want delete ' + deleteFile + '\n(' + configType + '-config)?') ) {
                        $.post('/config/delete/' + configType + '/' + deleteFile, function(data) {
                            alert( data + " " + deleteFile + ' has been deleted!');

                            if ( that.parent().parent('tr').next('tr').find('.comment').length == 1 ) {
                                that.parent().parent('tr').next('tr').find('.comment').parent().remove();
                                elementCount --;
                            };

                            that.parent().parent('tr').remove();
                            elementCount --;

                            if ( elementCount == 0 ) {
                                window.location = "/config/all" + configType  + "s";
                            };

                            updateFilter();
                        });
                    };
                });

                $('[data-toggleoption]').click(function() {
                    var toggleOption = $(this).data('toggleoption');
                    var toggleNewValue;
                    var host_arg = $('#hostname').html();
                    var group_arg = $(this).data('togglegroup');
                    var configType = $(this).data('configtype');

                    if ( $(this).hasClass("notallow") ) {
                        $(this).addClass("hook");
                        $(this).removeClass("notallow");
                        toggleNewValue = 1;
                    } else {
                        $(this).addClass("notallow");
                        $(this).removeClass("hook");
                        toggleNewValue = 0;
                    };
                    if ( toggleOption == "BKP_ENABLED" ) {
                        $(this).parent('tr').toggleClass( "active" );
                    };
                    $.post('/config/modify/' + configType , {
                        host_arg:  host_arg,
                        group_arg: group_arg,
                        key_arg: toggleOption,
                        val_arg: toggleNewValue });
                });

            }

            function initializeAll() {
                initializeEvents();
                initializeTablesorter();
                collapseDetails();
                $('table.hidden').removeClass('hidden');
                updateFilter();
            }

            $(document).ready(function(){
                initializeAll();
                updateTime();
            });

        </script>
    </head>
    <body>
        <% INCLUDE header.tt %>
        <% IF session.logged_in_user %><% INCLUDE navbar.tt %><% END %>
        <div id="content">
            <% content %>
            <div style="clear: both;"></div>
        </div>
    </body>
</html>

