<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>BaNG - 2013</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/css/screen.css">
        <link rel="stylesheet" type="text/css" href="/css/tablesorter.css">
        <script src="/javascripts/jquery.js" type="text/javascript"></script>
        <script src="/javascripts/jquery.tablesorter.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#hosts').tablesorter();
            });
        </script>
    </head>
    <body>
        <div id="header">
            <div id="ethz_logo">
                <img width="177" height="45" alt="ETH Zurich" src="http://www.phys.ethz.ch/phys/design/ETHlogo_177.png">
            </div>
            <h1 id="site_title">ISG D-PHYS <u>Ba</u>ckup Solution - <u>N</u>ext <u>G</u>eneration</h1>
        </div>
        <div id="infonav">
        </div>
        <div id="navigation">
            <a href="/" <% IF section == 'dashboard' %>class="active"<% END %>>Dashboard</a>
            <a href="/hosts/enabled" <% IF section == 'hostlist' %>class="active"<% END %>>all enabled Hosts</a>
            <a href="/config/configlist" <% IF section == 'configlist' %>class="active"<% END %>>Configlist</a>
            <a href="/config/general" <% IF section == 'generallist' %>class="active"<% END %>>General Settings</a>
        </div>
        <% IF error %>
        <div id="error">
            <p><% error %></p>
        </div>
        <% END %>
        <div id="content">
            <% content %>
        </div>
    </body>
</html>

