<!DOCTYPE HTML>
<html>
    <head>
        <title>BaNG</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/favicon">
    </head>
    <body>
        <% INCLUDE header.tt %>
        <div id="error">
            <p><% title %></p>
        </div>
    </body>
</html>
