<div id="header">
    <div id="ethz_logo">
        <img width="177" height="45" alt="ETH Zurich" src="//services.phys.ethz.ch/design/ETHlogo_177.png">
    </div>
    <div id="ethz_logo_background"></div>
    <h1 id="site_title">ISG D-PHYS <u>Ba</u>ckup Solution - <u>N</u>ext <u>G</u>eneration</h1>
</div>
