<h2><% title %></h2>
    <div id="host-edit">
      <form id="host_search" name="host_edit" method="post" action="<% add_entry_url %>">
        <dl>
          <dt>Hostname</dt>
          <dd><input type="text" name="search_text" id="host_search_text"></dd>
          <dt>Group</dt>
          <dd><input type="submit" name ="create_button" value="create"></dd>
        </dl>
      </form>
    </div>
