<h2>Search a Host</h2>
<div id="host_search">
<form id="host_search" name="host_search" method="post" action="/host/search">
    <input type="text" name="search_text" id="host_search_text" autofocus >
    <input class="show_loader" type="submit" name ="search_button" value="search">
</form>
</div>
