<h2>All enabled Host configs</h2>
<table id="hosts" class="tablesorter">
    <thead>
        <tr>
            <th>Config-Files</th>
        </tr>
    </thead>
    <tbody>
      <% FOREACH host IN hosts %>
        <tr>
            <td>
              <% host %>
            </td>
        </tr>
      <% END %>
    </tbody>
</table>
