<h2>Login</h2>
<form action="/login" method=post>
  <dl>
    <dt>Username:
    <dd><input type=text name=user>
    <dt>Password:
    <dd><input type=password name=pass>
    <dd><input type=submit value=Login>
  </dl>
</form>
