<!DOCTYPE HTML>
<html>
    <head>
        <title>BaNG - 2013</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/bang.css">
        <script src="/javascripts/d3.js"></script>
        <script src="/javascripts/jquery.js"></script>
    </head>
    <style>
        #chart_container {
            padding: 10px;
        }
        .chart {
            shape-rendering: crispEdges;
        }
        .chart .rect {
            stroke: white;
            fill: #7997C9;
        }
        .chart .rect:hover {
            fill: #C1CDE0;
        }
        .chart text {
            font: 14px sans-serif;
            pointer-events: none;
        }
    </style>
    <body>
        <% INCLUDE header.tt %>
        <% IF session.logged_in_user %><% INCLUDE navbar.tt %><% END %>
        <div id="content">
            <h1>Bar Chart: <% chartname %></h1>
            <div id="chart_container">
                <div class="loading_message">
                    <img src="/images/spinner.gif" width=25 alt="Loading animation">Loading data...
                </div>
                <div id="graph"></div>
            </div>
        </div>
        <script>
            var data;
            d3.json('./<% chartname %>.json', function(error, json) {
                if (error) {
                    $('.loading_message').html('Error while loading data.');
                } else {
                    data = json;
                    if (<% sorted %>) data = data.sort(function(a,b){return a.value-b.value});
                    $('.loading_message').html('');
                    drawGraph();
                }
            });

            function drawGraph() {
                var w = 800;
                var h = 40 * data.length;
                var yaxis_offset = 100;
                var MaxValue = d3.max(data, function(d){ return d.value; });

                var x = d3.scale.linear()
                        .domain([0, MaxValue])
                        .range([0, w]);
                var y = d3.scale.ordinal()
                        .domain(d3.keys(data))
                        .rangeBands([0,h]);

                var chart = d3.select("#graph")
                    .append("svg:svg")
                        .attr("class", "chart")
                        .attr("witdh", w)
                        .attr("height", y.rangeBand() * data.length);

                // bar chart
                chart.selectAll("rect")
                        .data(data)
                        .enter()
                    .append("svg:rect")
                    .attr("y", function(d,i){ return y(i); })
                        .attr("transform", "translate(" + yaxis_offset + ",0)")
                        .attr("height", y.rangeBand())
                        .attr("class", "rect")
                        .on("click", onClick)
                        .attr("width", function(d){ return x(d.value) });

                // labels
                chart.selectAll("label")
                        .data(data)
                    .enter().append("svg:text")
                        .attr("transform", "translate(" + yaxis_offset + ",0)")
                        .attr("x", function(d){ return x(d.value) })
                        .attr("y", function(d,i) {return y(i)+y.rangeBand()/2;})
                        .attr("text-anchor", "end")
                        .attr("dx", -5)
                        .attr("dy", ".35em")
                        .attr("class", "label")
                        .text(function(d) {return d.value;});

                // y axis
                var yScale = d3.scale.ordinal()
                    .domain(data.map(function(d) {return d.name; }))
                    .rangeBands([0,h]);
                var yAxis = d3.svg.axis()
                    .scale(yScale)
                    .tickPadding(7)
                    .orient("left");

                chart.append("g")
                    .attr("class", "y axis")
                    .attr("transform", "translate(" + yaxis_offset + ",0)")
                    .call(yAxis);
            }

            // clicking on a bar links to printer page
            function onClick(d, i) {
                window.location = d.url;
            }
        </script>
    </body>
</html>
