<!DOCTYPE HTML>
<html>
    <head>
        <title>BaNG - 2013</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/bang.css">
        <link rel="stylesheet" href="/css/swimlanes.css">
        <link rel="stylesheet" href="/css/statistics_schedule.css">
        <script src="/javascripts/d3.js"></script>
        <script src="/javascripts/swimlanes.js"></script>
        <script src="/javascripts/jquery.js"></script>
    </head>
    <body>
        <% INCLUDE header.tt %>
        <% INCLUDE navbar.tt %>
        <div id="content">
            <h2><% title %></h2>
            <div class="loading_message">
                <img src="/images/spinner.gif" width=25 alt="Loading animation">
                Loading data...
            </div>
            <div id="chart_container">
                <div id="graph"></div>
            </div>
            <script>
              <% IF fullplot %>
                var PlotMiniChart   = 1;
                var PlotTodaysLine  = 1;
              <% ELSE %>
                var PlotMiniChart   = 0;
                var PlotTodaysLine  = 0;
                var CustomLaneLabel = 'subLane[0].info.BkpFromHost';
                var CustomInterval  = '[new Date(now.getFullYear(), now.getMonth(), now.getDate()-1, 16, 0, 0, 0),'
                                    + ' new Date(now.getFullYear(), now.getMonth(), now.getDate()  , 16, 0, 0, 0)]';
              <% END %>
                var backups;
                d3.json('<% json_url %>', function(error, json) {
                    if (error) {
                        $('.loading_message').html('Error while loading data.');
                    } else {
                        backups = json;
                        $('.loading_message').html('');
                        DrawSwimlanes();
                    }
                });
            </script>
        </div>
    </body>
</html>
