<!DOCTYPE HTML>
<html>
    <head>
        <title>BaNG</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/bang.css">
        <script src="/javascripts/d3.min.js"></script>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/lastupdate.js"></script>
    </head>
    <style>
        #chart_container {
            padding: 10px;
        }
        .chart {
            shape-rendering: crispEdges;
        }
        .chart .rect {
            stroke: white;
            fill: #7997C9;
        }
        .chart .rect:hover {
            fill: #C1CDE0;
        }
        .chart text {
            font: 14px sans-serif;
            pointer-events: none;
        }
    </style>
    <body>
        <% INCLUDE header.tt %>
        <% IF session.logged_in_user %><% INCLUDE navbar.tt %><% END %>
        <div id="content">
            <h1><% title %> (logscale)</h1>
            <div id="chart_container">
                <div class="loading_message">
                    <img src="/images/spinner.gif" width=25 alt="Loading animation">Loading data...
                </div>
                <div id="graph"></div>
            </div>
        </div>
        <script>
            $(window).load(function() {

                updateTime();

            });

            d3.json('/statistics/barchart/<% chartname %>.json', function(error, json) {
                if (error) {
                    $('.loading_message').html('Error while loading data.');
                } else {
                    var data = json;
                    if (<% sorted %>) data = data.sort(function(a,b){return a.value-b.value});
                    $('.loading_message').html('');
                    drawBarchart(data);
                }
            });
        </script>
        <script src="/javascripts/barchart.js"></script>
    </body>
</html>
