<!DOCTYPE HTML>
<html>
    <head>
        <title>BaNG - 2013</title>
        <meta charset="utf-8">
        <link rel="icon" type="image/ico" href="/favicon">
        <link rel="stylesheet" href="/css/isg-dancer-common.css">
        <link rel="stylesheet" href="/css/bang.css">
        <link rel="stylesheet" href="/css/rickshaw.css">
        <link rel="stylesheet" href="/css/rickshaw-graph.css">
        <link rel="stylesheet" href="/css/jquery-ui.css">
        <script src="/javascripts/d3.js"></script>
        <script src="/javascripts/rickshaw.js"></script>
        <script src="/javascripts/jquery.js"></script>
        <script src="/javascripts/jquery-ui.js"></script>
        <script src="/javascripts/jquery.chained.js"></script>
    </head>
    <body>
        <% INCLUDE header.tt %>
        <% INCLUDE navbar.tt %>
        <div id="content">
            <h2><%title%></h2>
            <div class="loading_message">
                <img src="/images/spinner.gif" width=25 alt="Loading animation">
                Loading data...
            </div>
            <div id="chart_container">
                <div id="chart_y_axis"></div>
                <div id="chart"></div>
                <div id="chart_legend"></div>
                <form id="chart_toggler">
                    <input type="radio" name="offset" value="line" checked> <label>line</label>
                    <input type="radio" name="offset" value="zero"> <label>stack</label>
                </form>
                <div id="chart_slider"></div>
            </div>
            <script>
                var jsonURL = '<%json_url%>';
            </script>
            <script src="/javascripts/rickshaw-graph.js"></script>
            <div id="select-host-share">
                <p>View statistics of a specific
                  <%- FOREACH sharetype IN hosts_shares.keys.sort %>
                    <%- IF sharetype=='datashare' AND hosts_shares.datashare.size %>
                      data share
                    <%- ELSIF sharetype=='systemshare' AND hosts_shares.systemshare.size %>
                      <%- IF hosts_shares.datashare.size AND hosts_shares.systemshare.size %>
                      or
                      <%- END %>
                      system partition
                    <%- END %>
                    <select id="select-host-<%sharetype%>">
                        <option value="">&lt;host&gt;</option>
                      <%- FOREACH hostavail IN hosts_shares.$sharetype.keys.sort %>
                        <option value="<%hostavail%>" <% IF hostavail==host %>selected<% END %>><%hostavail%></option>
                      <%- END %>
                    </select>
                    <select id="select-share-<%sharetype%>" onchange="window.open(this.value,'_self');">
                        <option value="">&lt;share&gt;</option>
                      <%- FOREACH hostavail IN hosts_shares.$sharetype.keys.sort %>
                       <%- FOR shareavail = hosts_shares.$sharetype.$hostavail %>
                        <option value="/statistics/<%hostavail%>/<%shareavail.replace('/','_')%>" class="<%hostavail%>"><%shareavail%></option>
                       <%- END %>
                      <%- END %>
                    </select>
                  <%- END %>
                </p>
            </div>
            <script>
                $(document).ready(function(){
                    $('#chart_container').toggle();
                  <%- FOREACH sharetype IN hosts_shares.keys.sort %>
                    $("#select-share-<%sharetype%>").chainedTo("#select-host-<%sharetype%>");
                  <%- END %>
                });
            </script>
        </div>
    </body>
</html>
