body {
    padding: 0px;
    margin: 0px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.center {
    text-align : center;
    padding-right : 0px;
}

#header {
    background-image:url('/images/header.png');
    background-color:#254370;
    height: 65px;
    width: 100%;
}

#ethz_logo {
    position: absolute;
    top: 10px;
    left: 15px;
}

#ethz_logo_background {
    height: 100%;
    width: 250px;
    background-image:url('/images/header_gradient.png');
}

#site_title {
    font-family: arial, helvetica, sans-serif;
    position: absolute;
    top: 20px;
    left: 220px;
    font-size: 18pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: white;
    text-shadow: 0 0 2px black;
}

#flash {
    width: 400px;
    background-color: #ffa6a6;
    border: 1px #f00 solid;
    color: #f00;
    font-weight: bold;
    padding: 12px;
    margin-top: 6px;
    margin-left: 10px;
}

#topline {
    text-decoration: none;
    text-align: right;
    background-color: #7997C9;
    height: 20px;
    padding: 2px 10px 2px 10px;
}

#topline a.button-login {
    background: url("/images/login.png") no-repeat  scroll transparent;
    color: #FFFFFF;
    padding: 2px 5px 5px 10px;
}

#topline a.button-logout {
    background: url("/images/logout.png") no-repeat scroll transparent;
    color: #FFFFFF;
    padding: 2px 5px 2px 10px;
}

#topline span.username {
     padding-right: 5px;
}

.topright {
    float: right;
    padding-top: 2px;
    width: 150px;
}


#navigation {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #C1CDE0;
    height: 26px;
    padding: 0px 0px 0px 0px;
}

#navigation a.active {
    background-color: #fff;
    color: #000;
}

#navigation a {
    color: #000;
    text-decoration: none;
    margin: 0px;
    line-height: 26px;
    font-size: 12px;
    padding: 5px 10px 7px 10px;
}

#loader {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
    display: none;
}
