body {
    cursor: default;
    padding: 0px;
    margin: 0px;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
}

body pre {
    font-family: monospace;
}

.center {
    text-align : center;
    padding-right : 0px;
}

.alert_red {
    background-color: red;
    font-weight: bold;
}

.alert_orange {
    background-color: orange;
    font-style: italic;
}

.alert_yellow {
    background-color: yellow;
}

#header {
    background-image:url('/images/header.png');
    background-color:#254370;
    height: 65px;
    width: 100%;
}

#ethz_logo {
    position: absolute;
    top: 10px;
    left: 15px;
}

#ethz_logo_background {
    height: 100%;
    width: 250px;
    background-image:url('/images/header_gradient.png');
}

#site_title {
    font-family: arial, helvetica, sans-serif;
    position: absolute;
    top: 20px;
    left: 220px;
    font-size: 18pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: white;
    text-shadow: 0 0 2px black;
}

#flash {
    width: 400px;
    background-color: #ffa6a6;
    border: 1px #f00 solid;
    color: #f00;
    font-weight: bold;
    padding: 12px;
    margin-top: 6px;
    margin-left: 10px;
}

#topline {
    text-decoration: none;
//    text-align: right;
    background-color: #7997C9;
    height: 20px;
    padding: 2px 10px 2px 10px;
}

#topline a.button-login {
    background: url("/images/login.png") no-repeat  scroll transparent;
    color: #FFFFFF;
    padding: 2px 5px 5px 10px;
}

#topline a.button-logout {
    background: url("/images/logout.png") no-repeat scroll transparent;
    color: #FFFFFF;
    padding: 2px 5px 2px 10px;
}

#topline span.username {
     padding-right: 5px;
}

.topleft {
    float: left;
    padding-top: 2px;
    width: 150px;
    text-align: left;
}

.topright {
    float: right;
    padding-top: 2px;
    width: 150px;
    text-align: right;
}

nav {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #C1CDE0;
    height: 26px;
    padding: 0px 0px 0px 0px;
}

nav ul ul {
    display: none;
}

    nav ul li:hover > ul {
        display: block;
        font-color: #000;
    }


nav ul {
    list-style: none;
    position: relative;
    display: inline-table;
    margin: 0 ;
    padding: 0;
}
nav ul:after {
    content: ""; clear: both; display: block;
}

nav ul li {
    float: left;
}

nav ul li a.active {
   background-color: #fff;
   color: #000;
}

nav ul li:hover {
    background: lightgrey;
}
    nav ul li:hover a {
        color: black;
    }

nav ul li a {
    display: block;
    padding: 0px 10px 0px 10px;
    color: black;
    text-decoration: none;
    font-size: 12px;
    line-height: 26px;
}


nav ul ul {
    background: #C1CDE0;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 10000;
}

nav ul ul li {
    float: none;
    border-top: 2px solid #fff;
    position: relative;
}

nav ul ul li a {
    padding: 2px 10px;
    color: #fff;
    white-space: nowrap;
}

nav ul ul li a:hover {
    background: lightgray;
}

nav ul ul ul {
    position: absolute; left: 100%; top:0;
}

nav ul ul ul li {
    border-left: 0px solid #fff;
}

nav ul ul ul li a {
    padding-top: 0px;
    border-left: 2px solid #fff;
}

