
#content {
    margin: 12px;
}

#content h1 {}

#content p.abstract {
    font-size: 12px;
    font-style: italic;
}

#content a {
    color: #6081bb;
    text-decoration: none;
}

#content h1 {
    font-size: 14px;
}

#content h2 {
    font-size: 12px;
}

#content h3 {
    font-size: 10px;
}

#content ul li {
    margin: 6px 0;
}

#content table th {
    background-color: #eee;
}

#content table tr.even {
    background-color: #eee;
}

#content div.centered {
    margin: 0px auto;
}

#content img {
    border: none;
}

