#config {
    width: 450px;
}

#config th {
    text-align: left;
    padding-left: 5px;
}

#config td {
    padding-left: 5px;
}

#config tr {
    height: 24px;
}

#config tr:nth-child(odd) {
    background-color: #ddd;
}

#config tr:nth-child(even) {
    background-color: #eee;
}

#config_default {
    width: 450px;
}

#config_default th {
    text-align: left;
    padding-left: 5px;
}

#config_default td {
    padding-left: 5px;
}

#config_default tr {
    height: 24px;
}

#config_default tr:nth-child(odd) {
    background-color: lightblue;
}

#config_default tr:nth-child(even) {
    background-color: #eee;
}

#configslist {
    width: 800px;
}

#configslist a {
    color: #6081BB;
    text-decoration: none;
    font-weight:bold;
}

#configslist th {
    text-align: left;
}

#configslist img.look {
    padding: 0px 5px 0px 2px;
    width: 15px;
    height: 15px;
}

#configslist td {
    height: 24px;
    vertical-align: top;
    padding-top: 5px;
}

#configslist td.sw_logo {
    height: 24px;
    width: 20px;
    vertical-align: top;
}

#configslist div.hosts_details {
    width: 100px;
}

#configslist tr.noDefault{
    background-color: #ff9999 !important;

}

#configslist tr:nth-child(odd) {
    background-color: #ddd;
}

#configslist tr:nth-child(even) {
    background-color: #eee;
}

#configslist tr.active {
    background-color: #99FF99;
}

#configslist .expander {
    width: 400px;
    cursor: pointer;
    background: url("/images/go-bottom-3.png") no-repeat transparent;
    background-size: 15px 15px;
    background-position: 99% 7px;
}

#config_details table {
    width: 380px;
}

#config_details table tr:nth-child(odd) {
    background-color: #ddd;
}

#config_details tr:nth-child(even) {
    background-color: #eee;
}

#config_details td {
    height: 18px;
    padding-left: 5px;
}

