
#hostinfo {
    width: 400px;
    margin-right: 20px;
}

#hostinfo tr.active {
    background-color: lightgreen;
}

#hostinfo td {
    height: 20px;
}

tr.wipe {
     background-color: #FFEAEA;
}

tr.backup {
     background-color: #CCFFFF;
}

tr.notallow {
    background: url("/images/not-allow.png") no-repeat  scroll transparent;
    background-position: center center
}

.hook {
    background: url("/images/hook.gif") no-repeat  scroll transparent;
    background-position: center center
}

.notallow {
    background: url("/images/not-allow.png") no-repeat  scroll transparent;
    background-position: center center
}

