
#hostinfo {
    width: 650px;
    margin-right: 20px;
}

#hostinfo tr.active {
    background-color: #99FF99 !important;
}

#hostinfo td {
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#hostinfo tr:nth-child(odd) {
    background-color: #ddd;
}

#hostinfo tr:nth-child(even) {
    background-color: #eee;
}
