#croninfo {
    width: 500px;
}

#croninfo td {
    height: 20px;
}

#croninfo .active {
    background-color: lightgreen !important;
}

#croninfo .croninfosmall {
    width: 500px;
}

#croninfo tr.wipe {
     background-color: #FFEAEA;
}

#croninfo tr.backup {
     background-color: #CCFFFF;
}

#croninfo .hook {
    background: url("/images/hook.png") no-repeat transparent;
    background-position: center center;
    background-size: 15px 15px;
}

#croninfo .notallow {
    background: url("/images/not-allow.png") no-repeat transparent;
    background-position: center center;
    background-size: 15px 15px;
}
