#schedule {
    float: left;
    margin-right: 10px;
}

#croninfo {
    width: 600px;
    border-width:1px;
    border-style:solid;
    padding:4px;
}

#croninfo td {
    height: 20px;
}

#croninfo .croninfosmall {
    width: 600px;
}
