#croninfo {
    width: 500px;
}

#croninfo .active {
    background-color: lightgreen !important;
}

#croninfo .croninfosmall {
    width: 500px;
}

#croninfo tr.wipe {
     background-color: #FFEAEA;
}

#croninfo tr.backup {
     background-color: #CCFFFF;
}

#croninfo .hook {
    background: url("/images/hook.gif") no-repeat  scroll transparent;
    background-position: center center
}

#croninfo .notallow {
    background: url("/images/not-allow.png") no-repeat  scroll transparent;
    background-position: center center
}

#croninfo .nobulk {
    background: url("/images/nobulk.png") no-repeat  scroll transparent;
    background-position: right center
}
