#login {
    width: 300px;
}

#login fieldset {
    background: #efe;
}

#login legend {
    color: black;
    background: #C1CDE0;
    padding: 2px 10px;
}

#login label {
    width: 60px;
    float: left;
    text-align: left;
    padding-top: 5px;
    margin-right: 2px;
    display: block;
}

#login input {
    margin-left: 10px;
}

#login .submit {
    margin-left: 0px;
}

#login div {
    margin: 5px 0;
}
