.restorelist {
    width: 1248px;
}

.restorelist a {
    color: #6081BB;
    text-decoration: none;
    font-weight:bold;
}

.restorelist th {
    text-align: left;
    padding-left: 5px;
}

.restorelist td {
    vertical-align: top;
    padding: 5px;
}

.restorelist tr.noDefault{
    background-color: #ff9999 !important;
}

.restorelist tr:nth-child(odd) {
    background-color: #ddd;
}

.restorelist tr:nth-child(even) {
    background-color: #eee;
}

.restorelist tr.active {
    background-color: #99FF99;
}

.restorelist .expander {
    cursor: pointer;
    background: url("/images/go-bottom-3.png") no-repeat transparent;
    background-size: 15px 15px;
    background-position: 98% 4px;
}
