#restorelist {
    width: 900px;
}

#restorelist a {
    color: #6081BB;
    text-decoration: none;
    font-weight:bold;
}

#restorelist th {
    text-align: left;
}

#restorelist td {
    padding: 5px;
}

#restorelist tr.noDefault{
    background-color: #ff9999 !important;
}

#restorelist tr:nth-child(odd) {
    background-color: #ddd;
}

#restorelist tr:nth-child(even) {
    background-color: #eee;
}

#restorelist tr.active {
    background-color: #99FF99;
}
