#restorelist {
    width: 900px;
}

#restorelist a {
    color: #6081BB;
    text-decoration: none;
    font-weight:bold;
}

#restorelist th {
    text-align: left;
}

#restorelist img.look {
    padding: 0px 5px 0px 2px;
    width: 15px;
    height: 15px;
}

#restorelist td {
    height: 24px;
    vertical-align: top;
    padding-top: 5px;
}

#restorelist td.sw_logo {
    height: 24px;
    width: 20px;
    vertical-align: top;
}

#restorelist div.hosts_details {
    width: 100px;
}

#restorelist tr.noDefault{
    background-color: #ff9999 !important;

}

#restorelist tr:nth-child(odd) {
    background-color: #ddd;
}

#restorelist tr:nth-child(even) {
    background-color: #eee;
}

#restorelist tr.active {
    background-color: #99FF99;
}
