h2 {
    font-size: 1.17em;
    margin: 0px;
    padding: 10px 0 5px 0;
}
h3 {
    font-size: 1em;
    margin: 0px;
    padding: 10px 0 5px 0;
}

.alert_red {
    background-color: red;
    font-weight: bold;
}
.alert_orange {
    background-color: orange;
    font-style: italic;
}
.alert_yellow {
    background-color: yellow;
}
.wipe {
    background-color: #FFEAEA;
}
.backup {
    background-color: #CCFFFF;
}
.collapse table tr:nth-child(odd) {
    background-color: #ddd;
}
.collapse table tr:nth-child(even) {
    background-color: #eee;
}
.check_green  {
    background-color: #BCF5A9;
}
.check_yellow {
    background-color: #F2F5A9;
}
.check_red {
    background-color: #FA5858;
}
.groupConfig{
    background-color: #33bbdd !important;
}
.hostConfig{
    background-color: #66ffdd !important;
}
.serverConfig{
    background-color: #66aadd !important;
}
.active {
    background-color: #99FF99 !important;
}
.logError {
    color: red;
}
.logSuccess {
    color: green;
}

.zoom {
    background: url("/images/zoom-3.png") no-repeat transparent;
    background-position: center center;
    background-size: 15px 15px;
}
.offline {
    background: url("/images/network-disconnect-2.png") no-repeat transparent;
    background-position: center center;
    background-size: 20px 20px;
}
.hook {
    background: url("/images/hook.png") no-repeat transparent;
    background-position: center center;
    background-size: 15px 15px;
}
.hook3 {
    background: url("/images/hook3.png") no-repeat transparent;
    background-position: center center;
    background-size: 30px 15px;
}
.ok {
    background: url("/images/face-cool.png") no-repeat transparent;
    background-position: center center;
    background-size: 20px 20px;
}
.bad {
    background: url("/images/face-angry.png") no-repeat transparent;
    background-position: center center;
    background-size: 20px 20px;
}
.notok {
    background: url("/images/important.png") no-repeat transparent;
    background-position: center center;
    background-size: 20px 20px;
}
.notallow {
    background: url("/images/not-allow.png") no-repeat transparent;
    background-position: center center;
    background-size: 15px 15px;
}
.jobrun {
    background: url("/images/job-run.png") no-repeat  scroll transparent;
    background-position: center center;
}

.comment {
    cursor: pointer;
    background: url("/images/comment.png") no-repeat transparent;
    background-position: 20px 4px;
    padding-left: 45px !important;
}

