.loading_message {
    margin-left : 55px;
}
.loading_message img {
    vertical-align : middle;
}
#chart_container {
    display     : inline-block;
    width       : 1100px;
    height      : 660px;
}
#chart {
    float       : left;
}
#chart_y_axis {
    float       : left;
    width       : 40px;
}
#chart_y_axis .y_ticks text {
    visibility  : hidden;
}
#chart_y_axis .y_axis {
    z-index     : -10;
}
#chart_legend, #chart_toggler {
    float       : left;
    margin-top  : 10px;
    margin-left : 20px;
}
#chart_slider {
    margin-top  : 620px;
    margin-left :  30px;
    margin-right: 160px;
}
#chart_toggler {
    padding-left: 20px;
}
#chart_toggler label {
    font-family : Arial;
    font-size   : 14px;
}
/* color vertical line showing current position */
.rickshaw_graph .detail {
    background-color    : red;
}
/* wider space in hover details */
.rickshaw_graph .detail .item {
    line-height : 1.4;
    padding     : 0.5em;
    padding-right: 20px;
}
/* date series color swatch in hover details */
.detail_swatch {
    float       : left;
    display     : inline-block;
    width       : 10px;
    height      : 10px;
    margin      : 3px 4px 0 0;
}
/* legend box color */
.rickshaw_legend {
    background  : #C1CDE0;
}
/* legend tick opacity */
.rickshaw_legend a.action {
    opacity     : 0.8;
}
/* legend label color */
.rickshaw_legend .label {
    color       : black;
}
/* legend hover color */
.rickshaw_legend li:hover {
    background  : rgba(121,151,201,0.5);
}
