body {
    padding: 0px;
    margin: 0px;
    font-family: verdana, arial, helvetica, sans-serif;
}

.center {
    text-align : center;
    padding-right : 0px;
}

#header {
    background-image:url('/images/header.png');
    background-color:#254370;
    height: 65px;
    width: 100%;
}

#ethz_logo {
    position: absolute;
    top: 10px;
    left: 15px;
}

#ethz_logo_background {
    height: 100%;
    width: 250px;
    background-image:url('/images/header_gradient.png');
}

#site_title {
    font-family: arial, helvetica, sans-serif;
    position: absolute;
    top: 20px;
    left: 220px;
    font-size: 18pt;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: white;
    text-shadow: 0 0 2px black;
}

#content {
    margin: 12px;
}

#content h1 {}

#error {
    background-color: #ffa6a6;
    border: 1px #f00 solid;
    color: #f00;
    font-weight: bold;
    padding: 12px;
    margin-top: 6px;
}

#infonav {
    margin: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #7997C9;
    height: 22px;
}

#navigation {
    margin: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #C1CDE0;
    height: 26px;
    padding: 0 10 0 15px;
}

#navigation a.active {
    background-color: #fff;
    color: #000; 
}

#navigation a {
    color: #000; 
    text-decoration: none;
    margin: 0px;
    margin-right: 12px;
    line-height: 26px;
    font-size: 12px;
    padding: 5px 10px 7px;
}

#content p.abstract {
    font-size: 18px;
    font-style: italic;
}

#content a {
    color: #6081bb;
}

#content h1 {
    font-size: 22px;
}

#content h2 {
    font-size: 20px;
}

#content h3 {
    font-size: 18px;
}

#content ul li {
    margin: 6px 0;
}

#content table th {
    background-color: #eee;
}

#content table tr.even {
    background-color: #eee;
}

#content div.centered {
    margin: 0px auto;
}

#content img {
    border: none;
}

#configslist {
    width: 700px;
}

#configslist th {
    text-align: left;
}

#configslist td {
    height: 24px;
    vertical-align: top;
    padding-top: 5px;
}

#configslist td.sw_logo {
    height: 24px;
    width: 20px;
    vertical-align: top;
}

#configslist div.hosts_details {
    width: 100px;
}

#configslist tr:nth-child(odd) {
    background-color: #eee;

}
#configslist tr.active {
    background-color: lightgreen;
}

#config_details table {
    width: 380px;
}

#config_details table tr:nth-child(odd) {
    background-color: lightblue;
}

#config_details tr:nth-child(even) {
    background-color: #eee;
}

#config {
    width: 700px;
}

#config th {
    text-align: left;
    padding-left: 5px;
}

#config td {
    padding-left: 5px;
}

#config tr {
    height: 24px;
}

#config tr:nth-child(odd) {
    background-color: lightblue;
}

#config tr:nth-child(even) {
    background-color: #eee;
}

#hostinfo {
    width: 300px;
    margin-right: 20px;
}

#hostinfo th {
       text-align: left;
}

#hostinfo tr.active {
    background-color: lightgreen;
}

#loader {
    position: absolute;
    top: 400px;
    width: 100%;
    text-align: center;
    display: none;
}

#hosts .expander {
    cursor: pointer
}
