.systembkp {
    stroke          : #29C02A;
    fill            : #2BC72B;
}
.databkp {
    cursor          : pointer;
    stroke          : #0050C0;
    fill            : #0068F9;
}
[class*="astro-"] {
    fill            : red;
}
[class*="dphys-"] {
    fill            : yellow;
}
[class*="client-"] {
    fill            : purple;
}
