.mainItem {
    cursor          : pointer;
}
.systembkp {
    fill            : #2BC72B;
    stroke          : #29C02A;
}
.databkp {
    fill            : #0068F9;
    stroke          : #0050C0;
}
[class*="dphys-"] {
    fill            : #0054a0;
    stroke          : #0050C0;
}
[class*="astro-"] {
    fill            : #800CFF;
    stroke          : #422069;
}
[class*="client-"] {
    fill            : #DA7A9F;
    stroke          : #DA7A9F;
}
[class*="igp-"] {
    fill            : #5F2E05;
    stroke          : #4B1C01;
}
[class*="-workstation"] {
    fill            : #48A8CA;
    stroke          : #48A8CA;
}
[class*="mac-"] {
    fill            : #008A8A;
    stroke          : #008A8A;
}
.dphys-system {
    fill            : #2BC72B;
    stroke          : #29C02A;
}
