#graph {
    text-align      : center;
}

.loading_message {
    margin-left : 55px;
}
.loading_message img {
    vertical-align : middle;
}

.chart {
    shape-rendering : crispEdges;
}

.tooltip {
    padding         : 10px;
    font-family     : sans-serif;
    background-color: #AAA;
    border          : solid 1px #555;
    border-radius   : 6px;
}
.tooltip table {
    border-spacing  : 0px;
}
.tooltip tr {
    font-size       : 90%;
    text-align      : left;
}
.tooltip th {
    font-weight     : normal;
}

.miniItem {
    stroke-width    : 6;
}
.mini text {
    font            : 9px sans-serif;
}
.main text {
    font            : 12px sans-serif;
}
.month text {
    text-anchor     : start !important;
}

.todayLine {
    stroke          : blue;
    stroke-width    : 2.0;
}
.axis line, .axis path {
    stroke          : black;
}

.brush .extent {
    stroke          : gray;
    fill            : blue;
    fill-opacity    : .165;
}

.systembkp {
    stroke          : #29C02A;
    fill            : #2BC72B;
}
.databkp {
    cursor          : pointer;
    stroke          : #0050C0;
    fill            : #0068F9;
}
