body {
    cursor: default;
}

h1 {
    font-size: 140%;
    font-family: sans-serif;
    text-align: center;
    color: #1F4888;
}

table.plothost {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}

.plothost td {
    text-align: right;
    padding-left: 40px;
    padding-right: 40px;
}

img.plothost {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tooltip {
    padding: 10px;
    font-family: sans-serif;
    background-color: #AAA;
    border: solid 1px #555;
    border-radius: 6px;
}

.tooltip table {
    border-spacing: 0px;
}

.tooltip tr {
    font-size: 90%;
    text-align: left;
}

.tooltip th {
    font-weight: normal;
}

#graph {
    text-align: center;
}

.chart {
    shape-rendering: crispEdges;
}

.mini text {
    font: 9px sans-serif;
}

.main text {
    font: 12px sans-serif;
}

.month text {
    text-anchor: start;
}

.todayLine {
    stroke: blue;
    stroke-width: 2.0;
}

.axis line, .axis path {
    stroke: black;
}

.miniItem {
    stroke-width: 6;
}

.systembkp {
    stroke: #29C02A;
    fill:   #2BC72B;
}

.databkp {
    cursor: pointer;
    stroke: #0050C0;
    fill:   #0068F9;
}

.brush .extent {
    stroke: gray;
    fill: blue;
    fill-opacity: .165;
}
