[Unit]
Description=BaNG web service
After=syslog.target

[Service]
Type=forking
User=www-data
Group=www-data
ExecStart=/usr/bin/starman -D --listen 127.0.0.1:8030 --error-log /opt/BaNG/var/log/production.log -E production /opt/BaNG/BaNG-Web
Restart=always

[Install]
WantedBy=multi-user.target
